/* Work sans font from google */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{
font-family: 'Work Sans', sans-serif;
  }

.head{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  display: flex;
  padding: 20px;
  gap: 10px;
}

nav >ul{
  display: flex;
  gap: 20px;
  align-items: center;
  
}
nav li {
  list-style: none;
  background:rgb(235, 231, 236);
  border-radius: 8px;
  padding:5px;
  box-shadow: 2px 2px 4px;
}
.nav_bar{
  display: flex;
  align-items: center;
  background:rgb(240, 209, 209);
  border-radius: 8px;
  text-align:center;
  padding:2px;
  box-shadow: 2px 2px 4px;
}
/* sign-in section */
.demo{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.extra{
background-image: url(./images/Group\ 14.png);
background-repeat: no-repeat;
background-size: 100%;

}
.icon-heading{
  
}
h1{
font-weight: 800;
font-size: 30px;
background: -webkit-linear-gradient(#7e07ad, #353236);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-shadow: rgb(71, 33, 69) 2px 3px 5px;
}
.button-1:hover{
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.button-2:hover{
  background-color: rgb(197, 133, 14);
  color: black;
  cursor: pointer;
}
.button-1{
  border: 2px;
  border-radius:10px 10px;
  background-color: #d1a0e4;
  color: white;
  border: 1px solid black;
  box-shadow: black 2px 2px 2px;
}
.button-2{
  border: 2px;
  border-radius:10px 10px;
  background-color: #6e0797;
  color: white;
  border: 1px solid black;
  box-shadow: black 2px 2px 2px;
}
.icon-heading{
text-align: center;
}



/* more section */
.more{
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  justify-content: center;
}
/* card section */
.card{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.card-3{
  position: relative;
}
.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle{
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card-3:hover .image{
  opacity: 0.7;
}

.card-3:hover .middle{
  opacity: 1;
  cursor: pointer;
}
.text-1{
  background-color: transparent;
  color: rgb(250, 247, 247);
  font-size: 20px;
  padding: 16px 32px;
  text-shadow: rgb(201, 47, 8) 2px 2px 2px;
}
/* play instantly section */
.play{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
.play-image{
  width: 50%;
}
.play-image img{
  width: 300px;
  margin-top: 80px;
  


}
.play-image-2 img{
  width: 150px;
  position: relative;
  bottom: 170px;
  right: 85px;
}

/* icon section */
.game-icon{
  text-align: center;
  margin: 40px;
}
.button-icon{
  border: 1px solid #5a0a7a;
  border-radius: 30px 30px;

}
.button-icon:hover{
  color: #c02410;
  background-color: rgba(223, 220, 10, 0.938);
  cursor: pointer;
}
/* footer section */

footer{
  background-color: #1e0229;
  width: 100%;
  height: auto;
  margin-top: 40px;
  padding: 0%;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-links-text{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: white;
}
.social-links{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-text{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  
}
footer h6{
  text-align: center;
  color: white;
}

@media only screen and ( max-width:600px) {
  footer{
    padding: 20px;
  
      }
      .footer-links-text{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
      }
      .social-links{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        padding: 10px;
        justify-content: center;
        margin: auto;
        }
      .footer-text{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
      }
  
}